@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Josefin+Sans:wght@100;200;400;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Righteous&family=Lobster&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Josefin+Sans:ital,wght@0,100;1,100&family=Lobster&family=Parisienne&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&family=Righteous&display=swap'); */

/*  padding: (top-bottom) (right-left);
    padding: (top) (right) (bottom) (left);  */

/*  INVERSE CALCULATION (as something decreases, another increases):

    calc(100vh - [VALUE]vw)   OR   calc(100vw - [VALUE]vh)
*/

:root
{
    /* COLORS */
    --dark-gray-color: rgb(90, 90, 90);
    --gray-color: rgb(140, 140, 140);
    --light-gray-color: rgb(202, 202, 202);
    --dark-yellow-color: rgb(152, 182, 2);
    --light-blue-color: rgb(25, 110, 214);
    /* COLORS END */
}

/* GENERAL STYLES */
*
{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*------------------CUSTOM SCROLL BAR SUPPORTING CHROME - EDGE - OPERA BROWSERS--------------*/
/* Style the scrollbar */
::-webkit-scrollbar
{
    width: 10px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track
{
    background-color: black;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb
{
    background-color: var(--dark-gray-color);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: white;
}

/* ────────────────────────────────────────────────────────────────────────── */

/*------------------CUSTOM SCROLL BAR SUPPORTING FIREFOX BROWSER--------------*/
/* Style the scrollbar track */
scrollbar
{
    background-color: #f5f5f5;
    width: 10px;
}

/* Style the scrollbar thumb */
scrollbar-thumb
{
    background-color: #000;
    border-radius: 0px;
}

/* On hover, change scrollbar thumb */
scrollbar-thumb:hover
{
    background-color: #333;
}

/* ────────────────────────────────────────────────────────────────────────── */

html
{
    background: url(images/bg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header
{
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 57px;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: all 0.5s ease;
    box-shadow: rgba(255, 255, 255, 0.3) 1px 1px 1px;
}

a
{
    text-decoration: none;
}

h1
{
    display: block;
    margin-bottom: 1vh;
    color: aqua;
    font-weight: 800;
    text-transform: uppercase;
    font-size: calc(30px - (10 - 30) * ((100vw - 600px) / (1600 - 300)));
}

h2
{
    display: inline-block;
    margin-right: 10vh;
    color: white;
    font-size: calc(20px - (10 - 20) * ((100vw - 700px) / (1600 - 300)));
    font-weight: 500;
}

h3
{
    font-family: "Questrial", sans-serif;
    margin-bottom: 15px;
    color: var(--light-gray-color);
    font-size: calc(14px - (10 - 14) * ((100vw - 600px) / (1600 - 300)));
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: black 4px 4px 20px;
}

form
{
    margin: 10% auto;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.2));
    flex-direction: column;
    padding: 1vw 2vw;
    width: 60vw;
    border-radius: 0px;
}

form input,
form textarea
{
    font-size: 1em;
    font-family: "Questrial", sans-serif;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    padding: 1% 2%;
    margin: calc(10px - (1vw * 0.1)) 1%;
    resize: none;
}

form input
{
    height: calc(40px - (1vw * 0.1));
}

form input::placeholder,
form textarea::placeholder
{
    color: rgba(255, 255, 255, 0.5);
}

form button
{
    display: grid;
    font-weight: 700;
    place-items: center;
    padding: calc(1.5rem - 1vh) 10px;
    margin: 2% auto;
    width: calc(250px - 6vw);
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0.3) 0%,
            rgba(0, 0, 0, 0.4) 100%);
    border: 2px solid yellow;
    border-radius: 0px;
    transition: border 0.6s ease, background 0.6s ease,
        color 0.6s ease;
    cursor: pointer;
    letter-spacing: 2px;
}

form button:hover
{
    color: black;
    background: white;
    border: 2px solid black;
}

footer
{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    background: black;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

footer h5
{
    font-size: calc(12px - (10 - 20) * ((100vw - 700px) / (1600 - 300)));
    margin: auto 5%;
    color: white;
}

/* GENERAL STYLES END*/

/* SPECIFIC STYLES */
.logo
{
    margin-left: 10%;
    transition: all 0.5s ease;
}

.logo a
{
    display: flex;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5em;
    transition: all 1s ease;
}

.logo img
{
    height: 50px;
    width: 55px;
    border-radius: 50%;
    transition: filter 0.1s ease;
    object-fit: cover;
}

.logo img:hover
{
    filter: none;
}

.logo a:hover
{
    transform: scale(1);
}

.navigation
{
    margin-right: 10%;
}

/* For the above code, create a background with opacity 0.2, and that background shows when hovering over the navLinks and moves with the hover position. */

.navigation ul a
{
    position: relative;
    display: inline-block;
    color: yellow;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1em;
    padding: 15px 15px;
    margin-right: -4px;
    margin-bottom: -10px;
    margin-top: -10px;
    transition: 0.2s ease, opacity 0.5s ease, background 0s ease;
}

.navigation ul:hover>a
{
    opacity: 0.4;
}

.navigation ul:hover>a:hover
{
    opacity: 1;
}

.indicator
{
    display: flex;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: transparent;
    transition: 0.3s ease width, 0.3s ease left, 0.3s ease top,
        1s ease background-color;
    border-bottom: 1px solid white;
    border-radius: 0px;
}

.navHoverBackground
{
    z-index: -1;
    display: flex;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 40px;
    transition: 0.2s ease width, 0.2s ease left, 0.3s ease opacity;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.2);
}

.container
{
    display: flex;
    width: 100%;
    flex: 1;
    min-height: 100vh;
    justify-content: center;
    padding: 100px 50px;
    background: transparent;
    overflow: hidden;
}

.main,
.projects,
.skills,
.contact
{
    display: flex;
    min-height: 100vh;
    padding: 7%;
    margin: auto auto auto auto;
    justify-content: center;
}

.main
{
    align-items: center;
    padding: 10% 20% 10% 20%;
    background: linear-gradient(to bottom,
            black 0%,
            transparent 0%,
            transparent 80%,
            black 100%),
        transparent;
}

.projects
{
    background: linear-gradient(to bottom,
            black 0%,
            transparent 10%,
            transparent 80%,
            black 100%),
        transparent;
}

.skills
{
    background: linear-gradient(to bottom,
            black 0%,
            transparent 30%,
            transparent 80%,
            black 100%),
        transparent;
}

.contact
{
    background: linear-gradient(to bottom,
            black 0%,
            transparent 30%,
            transparent 100%,
            black 100%),
        transparent;
}

/* font-size: calc(15px - (1 - 15) * ((200vw - 300px) / (1200 - 300))); */
.myname
{
    font-family: "Righteous", cursive;
    color: yellow;
    text-shadow: red 2px 1px 1px;
    font-size: 1.3em;
    letter-spacing: 3px;
}

.my_work_btn
{
    display: flex;
    justify-content: start;
}

.my_work_btn a
{
    color: yellow;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.93em 2.15em;
    letter-spacing: 1px;
    border-radius: 0px;
    margin-bottom: 1px;
    margin-left: 3px;
    background: linear-gradient(rgba(255, 255, 255, 0.3) 0%,
            rgba(0, 0, 0, 0.4) 100%);
    border: 2px solid yellow;
    transition: transform 0.2s ease, border 0.2s ease, background 0.2s ease,
        color 0.2s ease;
}

.my_work_btn a::after
{
    display: inline-block;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='0.9em' viewBox='0 0 384 512'%3E%3Cpath d='M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E");
    opacity: 0;
    margin-right: -12px;
    margin-left: 2px;
    transition: 0.2s ease;
}

.my_work_btn a:hover::after
{
    opacity: 1;
    margin-right: -18px;
    margin-left: 20px;
}

.my_work_btn a:hover
{
    background-color: rgba(255, 255, 0, 0.8);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.my_resume a
{    
    display: inline-block;
    position: relative;
    opacity: 0.6;
    font-size: 0.7em;
    color: cyan;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    transition: 0.1s ease;
    text-transform: uppercase;
}

.my_resume a:hover
{
    opacity: 1;
    color: rgb(255, 255, 255);
    background: rgba(0, 255, 255, 0.1);
}

.my_resume a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -1px;
    left: 4px;
    background: white;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.my_resume a:hover::after {
    visibility: visible;
    width: 93%;
}

.social_icons a
{
    display: inline-block;
    color: white;
    font-size: 2em;
    margin: auto 10px;
    transition: 0.2s ease;
    text-shadow: black 0px 0px 10px;
}

.social_icons a:hover
{
    color: var(--light-blue-color);
}

.main h1
{
    width: 60vw;
}

.container h1 .changing_text
{
    font-family: "Righteous", cursive;
    letter-spacing: 4px;
    text-shadow: blue 8px 0px 2px;
}

header .hidden
{
    opacity: 0;
    filter: blur(30px);
    transform: translateY(50%);
}

header .shown
{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 0.6s;
}

.main .hidden
{
    opacity: 0;
    filter: blur(30px);
    transform: translateY(50%);
}

.main .shown
{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 0.8s;
}

.hidden
{
    opacity: 0;
    filter: blur(30px);
    transform: translateY(30%);
}

.shown
{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 0.8s;
}

.container-title
{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1rem 15rem;
    line-height: 1;
    font-size: calc(20px + (2vw * 1));
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.container-title::after
{
    display: flex;
    justify-content: center;
    content: '';
    width: calc(35px + (3vw * 2));
    height: 5px;
    border-radius: 0px;
    background-color: aqua;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.projects .content
{
    margin-top: 50px;
    padding-bottom: 70px;
    background: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.card
{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 255, 0.5));
    width: 21.25em;
    max-width: 21.25em;    
    height: 500px;
    box-shadow: 5px 5px 25px rgba(1 1 1 / 50%);
    border: 3px solid yellow;
    border-radius: 0px;
    padding: 25px;
    margin: 25px;
    text-align: center;
    position: relative;
    cursor: default;
    transition: border-color 0.6s ease;
}

.card:hover
{
    border-color: black;
}

.cardLayer
{
    background: linear-gradient(to bottom, transparent, rgba(125, 0, 0, 0.8));
    position: absolute;
    border-radius: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 97%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}

.card:hover .cardLayer
{
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.cardLayer p
{
    color: white;
    letter-spacing: 1px;
    padding: 25px 25px;
}

.cardLayer .src
{
    color: white;
    font-size: 0.8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 55px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0px;
    padding: 0.2rem 0.3rem;
    transition: 0.2s ease;
    text-transform: uppercase;
}

.cardLayer .src
{
    border: 1px solid rgb(255, 255, 255, 0.5);
}

.cardLayer .src[href]
{
    transition: background 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}

.cardLayer .src[href]:hover
{
    background: rgb(255, 255, 255, 0.3);
}

.cardLayer .src[href]::after
{
    display: inline-block;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='0.7em' viewBox='0 0 512 512'%3E%3Cpath fill='white' d='M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'/%3E%3C/svg%3E");
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    opacity: 0;
    transition: all 0.2s ease;
    margin-left: -11px;
}
@keyframes glowingBorder {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 300% 0%;
    }
}

.cardLayer .src:not([href])::before,
.cardLayer .src:not([href])::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(250deg, transparent, rgba(0, 0, 0, 0.3), transparent);
    background-size: 300% 100%;
    z-index: -1;
    opacity: 1;
    animation: glowingBorder 3s linear infinite;
    transition: all 0.2s ease-in-out, opacity 0.3s ease;
}

.cardLayer .src:not([href])::after {
    filter: blur(0px);
}

.cardLayer .src:not([href]):hover::after {
   /*  filter: blur(20px); */
    background-color: rgba(255, 255, 255, 0.2);
}

.cardLayer .src[href]:hover::after
{
    opacity: 1;
    margin-left: 6px;
    padding-right: 2px;
}

.projects .content .card h5
{
    color: white;
    font-size: 1.5em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.3s ease;
    transform: translate(-50%, -50%);
}

.projects .content .card:hover h5
{
    opacity: 0;
}

.projects .content .cardHint
{
    display: block;
    font-size: 0.6em;
    font-weight: 200;
    color: aqua;
    transition: 0.2s ease color;
}

.projects .content .card h6
{
    color: red;
    font-size: 1em;
    display: flex;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.websiteCode
{
    display: block;
    text-align: center;
    padding-top: 12px;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 255, 0.5));
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 1px;
    border: 3px solid yellow;
    border-radius: 0px;
    transition: transform 0.12s ease, border 0.8s ease, background 0.6s ease,
        color 0.6s ease, box-shadow 0.3s ease;
    height: 4em;
    width: 11em;
    margin-left: auto;
    margin-right: auto;
    cursor: default;
}

.websiteCode:hover
{
    box-shadow: rgb(255, 255, 255, 0.5) 0px 0px 30px;
    background: rgb(222, 222, 222);
    border: 3px solid black;
    color: black;
    cursor: pointer;
}

.websiteCode .this_src
{
    display: block;
    font-size: 0.6em;
    font-weight: 200;
    color: red;
    transition: 0.2s ease color;
}

.websiteCode:hover .this_src
{
    display: block;
    color: blue;
}


.skills .content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.skill
{
    width: 60vw;
    margin: 10px 0;
    text-align: left;
}

.skill-name
{
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.skill-bar
{
    width: 100%;
    height: 7px;
    transition: background-color 2s ease;
    position: relative;
    border-radius: 0px;
}

.skill-level
{
    transition: width 3s ease;
    border-radius: 0px;
    height: 100%;
    transition: background-color 2s ease;
    position: absolute;
    left: 0;
    top: 0;
}

.skill-perc
{
    font-size: calc(50% + 0.5vw);
    font-weight: 200;
    color: white;
    height: 100%;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -5px;
}

.contact .content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .content .email-icon
{
    font-size: 4vw;
    color: darkgray;
    margin: 10px auto;
    margin-top: -50px;
}

.content .hint
{
    margin: 30px auto;
    font-size: calc(18px - (10 - 20) * ((100vw - 700px) / (1600 - 300)));
    font-family: "Righteous", sans-serif;
    color: yellow;
    margin: auto;
}

.contact .content .myEmail
{
    font-size: calc(18px - (10 - 20) * ((100vw - 700px) / (1600 - 300)));
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    color: white;
    margin: 30px auto;
}

footer .social_icons
{
    display: flex;
    margin: auto 5vw auto 0vw;
}

footer .social_icons a
{
    font-size: 1.4em;
    margin: auto 8px;
    transition: 0.2s ease;
}

footer .social_icons a:hover
{
    transform: scale(1);
}

footer .fa-whatsapp
{
    margin: 4px 5px;
    font-size: 1.4em;
    width: 30px;
    height: 18px;
    letter-spacing: 1px;
    color: rgb(68, 255, 0);
    transition: 0.2s ease;
    cursor: default;
}

footer .fa-whatsapp:hover
{
    color: var(--light-blue-color);
}

footer .whatsapp
{
    margin: 3px 5px;
    font-size: 1.1em;
    color: white;
}

footer h5 span
{
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
}

.loading-dots
{
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-right: 10px;
}

.loading-dots span
{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
}

.loading-dots span:nth-child(1)
{
    animation: loading-anim 1s infinite;
}

.loading-dots span:nth-child(2)
{
    animation: loading-anim 1s infinite 0.33s;
}

.loading-dots span:nth-child(3)
{
    animation: loading-anim 1s infinite 0.66s;
}

/* Mobile Menu */
.mobile-menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.mobile-menu-toggle span {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.mobile-navigation {
    position: fixed;
    top: 57px;
    right: 0;
    height: 0;
    width: 100%;
    background: rgb(0, 0, 0, 0.75);
    transition: all 0.5s ease-in-out, opacity 0.2s ease-in-out;
    overflow: hidden;
}

.mobile-navigation ul {
    text-align: center;
    margin-left: -4%;
    padding: 0;
    margin-top: 5px;
}


.mobile-navigation a {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: block;
    transition: color 0.3s linear, opacity 0.3s ease-in-out;
}

.mobile-navigation ul:hover>a
{
    opacity: 0.4;
}

.mobile-navigation ul:hover>a:hover
{
    opacity: 1;
}

@keyframes loading-anim
{
    from
    {
        opacity: 0;
        transform: translateY(0);
    }

    to
    {
        opacity: 1;
        transform: translateY(-6px);
    }
}

/* SPECIFIC STYLES END */

/* PAGE RESPONSIVENESS */
@media only screen and (max-width: 935px)
{
    .logo
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 0 auto;
        transform: translateX(0);
        transition: all 0.5s ease;
    }

    .navigation
    {
        display: none;
    }

    .mobile-menu-toggle {
        display: flex;
    }

    .mobile-navigation.open {
        height: 180px;
        display: block;
    }

    .mobile-menu-toggle.open span:first-child {
        transform: rotate(36deg);
    }

    .mobile-menu-toggle.open span:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu-toggle.open span:nth-child(3) {
        transform: rotate(-36deg);
    }
}

@media (max-width: 520px)
{
    .projects .content
    {
        margin-top: unset;
        padding-bottom: unset;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
    }

    .container-title
    {
        margin-bottom: 15px;
    }

    .card
    {
        margin: 25px auto;
        width: 80vw;
    }

    .websiteCode
    {
        margin-top: 30px;
    }

    .content .hint,
    .contact .content .myEmail
    {
        word-wrap: break-word;
        max-width: 70vw;
    }

    form
    {
        font-size: 3vw;
        width: 80vw;
    }

    footer .social_icons
    {
        font-size: calc(10px - (1 - 15) * ((100vw - 110px) / (1600 - 300)));
        margin: auto 5vw auto 0vw;
    }


}

@media (min-width: 424px) and (max-width: 520px)
{
    footer .whatsapp
    {
        margin: 8px 5px;
        font-size: calc(7px - (1 - 15) * ((100vw - 100px) / (1300)));
    }
}

@media (max-width: 423px)
{
    .card
    {
        height: calc((1300px - 185vw));
        min-height: max-content;
    }

    footer .whatsapp
    {
        margin: 8px 5px;
        font-size: calc(7px - (1 - 15) * ((100vw - 110px) / (1300)));
    }
}

@media (max-width: 395px)
{
    footer .social_icons
    {
        margin-left: -10px;
    }

    footer .fa-whatsapp
    {
        margin: 6px 5px;
        margin-right: -8px;
    }
}

@media (max-width: 319px)
{
    form button
    {
        width: 70vw;
    }
}
/* PAGE RESPONSIVENESS END */